{% extends 'base.html' %}
{% block title %}
<h1> Viewing Reccomendation List {{ recommendation.name }} </h1>
{% endblock %}

{% block main %}
<ul>
  {% for song in recommendation.songs %}
    <img src = {{song.album_cover_url}}>
    <h2> <a href = "{{ song.external_url}}"> {{ song.title }} </a></h2><br>
    <ul>
      <li> Aritst: {{ song. artist }} </li><br>
      <li> Album: {{ song.album }} </li><br>
      <li> Duration: {{ song.duration }} </li><br>
    </ul>
  {% endfor %}
</ul>
{% endblock %}
